In [2]:
add = lambda x, y: x + y
print(add(3, 5))

8

In [3]:
add = (lambda x, y: x + y)(3, 5)
print(add)

8

In [4]:
max_number = lambda x, y: x if x > y else y
print(max_number(10, 20))

20

In [5]:
numbers = [10, 15, 18, 20, 25, 30, 33, 40, 45, 51]
answers = list(filter(lambda x: x % 3 == 0 and x % 5 != 0, numbers))
print(answers)

[18, 33, 51]

In [6]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [7]:
x = 5
print(isinstance(x, int))

True

In [8]:
my_list = [5, 8, 6]
print(isinstance(my_list, list))
if 5 in my_list:
    print("include 5")

True
include 5

In [9]:
input_number = int(input("Enter a Number"))
print(isinstance(input_number, (int, float)))

True

In [10]:
from math import isqrt, log2

input_number = int(input("Enter a number: "))
print(isqrt(input_number))
print(log2(input_number))

9
6.409390936137702

In [11]:
class Parrot:
    name = ""
    age = 0

parrot_1 = Parrot()
print(parrot_1.name)
print(parrot_1.age)
Parrot.name = "Polly"
Parrot.age = 5
print(parrot_1.name)
print(parrot_1.age)

0
Polly
5

In [18]:
class Animal:
    def __init__(self, name):
        self.name = name

    def speak (self):
        print(f"{self.name} speak")

class Dog(Animal):
    def speak (self):
        print(f"{self.name} says woof")

dog_1 = Dog("Bluvy")
dog_1.speak()

Bluvy says woof

In [2]:
class Animal:
    def __init__(self, name):
        self.name = name

    def speak (self):
        print(f"{self.name} speak")

class Dog(Animal):
    def __init__ (self, name, color):
        super().__init__(name)
        self.color = color

    def speak (self):
        print(f"{self.name} says woof {self.color} color")

dog_1 = Dog("Snovy", "Black")
dog_1.speak()

Snovy says woof Black color

In [6]:
class Dog():
    def speak (self):
        return "Woof"

class Cat():
    def speak (self):
        return "Meow"
    
def animal_sound(animal):
    print(animal.speak())

dog = Dog()
cat = Cat()
animal_sound(dog)
animal_sound(cat)

Woof
Meow

In [2]:
import pandas as pd

data = {
    "Name" : ["Alice", "Bob", "Charlie"],
    "Age" : [25, 30, 35],
}

df = pd.DataFrame(data)
print(df)

print(df.loc[1])

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
Name    Bob
Age      30
Name: 1, dtype: object

In [2]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["Shehan", "Kaveen", "Nimal", "Kamal", "Ravi"],
    "Age": [22, 18, 35, 16, 28],
    "Salary": [50000, 60000, 55000, 70000, 52000],
    "City": ["Colombo", "Kandy", "Galle", "Jaffna", "Matara"]
})

print(df)

filtered_df = df[df['Age'] > 19]
print(filtered_df)

     Name  Age  Salary     City
0  Shehan   22   50000  Colombo
1  Kaveen   18   60000    Kandy
2   Nimal   35   55000    Galle
3   Kamal   16   70000   Jaffna
4    Ravi   28   52000   Matara
     Name  Age  Salary     City
0  Shehan   22   50000  Colombo
2   Nimal   35   55000    Galle
4    Ravi   28   52000   Matara